<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#top" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="mailto:pricing@cscareers.com?subject=Pricing%20of%20Courses&body=My%20Name%3A%20%3Cyour%20name%3E%0D%0A%0D%0AMy%20Phone%20Number%3A%20%3Cprice%20of%20courses%20will%20be%20given%20over%20a%20call%2C%20please%20add%20country%20code%3E%0D%0A" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 CS Careers, Inc</p>
  </footer>
</div>